* {
  margin: 0px;
  padding: 0px;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.container {
  max-width: 1440px;
  height: auto;
}
/* sheared style  */
.grey {
  color: #8987a1;
}
.unique {
  color: #e95a08;
}
.nice-color {
  color: rgb(50%, 50%, 50%);
  font-size: 22px;
}
/* navber section  */

.navber {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 150px;
}
nav ul {
  display: flex;
  gap: 48px;
}
nav ul li {
  list-style: none;
}
/* banner section  */
.banner {
  display: flex;
  margin: 117px 150px;
  justify-content: center;
  align-items: center;
}
.banner-part {
  text-align: left;
}
.banner-part h1 {
  font-size: 65px;
  font-weight: 800;
}

/* plant section  */
.plant-title {
  justify-content: center;
  text-align: center;
}
.plant {
  max-width: 1140px;
  height: 999.88px;
  margin-top: 50px;
  margin-left: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.plant-title h1 {
  font-size: 50px;
  font-weight: bold;
}

.plant div img {
  margin-bottom: 30px;
  gap: 20px;
}
.plant div h4 {
  margin-bottom: 20px;
  text-align: center;
  width: 270px;
  font-size: 22px;
  font-weight: 400;
}
.plant div h5 {
  margin-bottom: 30px;
  text-align: center;
  width: 270px;
  font-size: 22px;
  font-weight: 800;
}

.btn {
  background-color: #e95a08;
  width: 270px;
  font-size: 16px;
  font-weight: 300;
  height: 50px;
  color: #ffffff;
  border: none;
}
/* flower and plants lover section  */
.flower-plants {
  display: flex;
  max-width: 1140px;
  height: 597px;
  gap: 60px;
  margin: 210px 150px 0px;
}
.flower-plants-left {
  margin: 39px auto;
}
.flower-plants-left h1 {
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 20px;
}
.flower-plants-left ul li {
  font-size: 22px;
  padding-bottom: 20px;
}

/* lastest deals section  */
.latest-title {
  justify-content: center;
  text-align: center;
  margin-top: 133px;
  margin-bottom: 121px;
}
.latest-title h1 {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 16px;
}
/* join section start  */
.join {
  max-width: 1440px;
  height: 533px;
  text-align: center;
  padding-top: 199px;
  font-size: 50px;
  font-weight: bold;
  background-repeat: no-repeat;
  color: #ffffff;
  margin-right: 0px;
  background-image: url("./assets/news-letter-bg.png");
}
.join input {
  width: 644px;
  height: 50px;
  padding-left: 20px;
  border: none;
}
.join button {
  width: 186px;
  height: 50px;
  background-color: #e95a08;
  border: none;
}
/* footer section  */
.footer-end-section {
  display: flex;
  justify-content: space-around;
  align-items: start;
  max-width: 1120px;
  height: 248px;
  margin: 0px 160px;
}
.footer-home ul li {
  padding-bottom: 32px;
  list-style: none;
}
.footer-features ul li {
  padding-bottom: 32px;
  list-style: none;
}
.footer-icon img {
  padding-left: 24px;
}
